<div class="drivers-profile">
    <div class="d-flex">
        <div class="prof">
            <img src="/assets/images/user-layer.png">
        </div>
        <div class="prof-dt">
            <h3>Lindsey Stroud</h3>
            <h4>lindsey.stroud@gmail.com</h4>
        </div>
    </div>
    <div class="pro-act">
        <div class="pro-alist">
            <button class="btn-list-view">List View</button>
            <button class="btn-action">Action</button>
        </div>
        <h6>Profile ID: 4555</h6>
    </div>
</div>
<div class="car-base">
    <div class="car-base-selected" (click)="openCarbaseDropdown()">
        <h6> Elite Car Based LLC</h6>
    </div>
    <div class="car-base-opts-wr" style="display: none;">
        <div class="car-base-search-wr">
            <input type="search" placeholder="Search Car Base" (keyup)="hdlKey()" [(ngModel)]="sTerm">
            <div>
                <img src="/assets/images/search.png">
            </div>
        </div>
        <div class="car-base-opts" *ngFor="let drop of drops | carBaseSearch : sTerm">
            <h6>{{drop.cmain}}<span [class.pending]="drop.status=='Pending'">{{drop.status}}</span></h6>
        </div>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="Driver">
        <div class="driver-content">
            <mat-tab-group>
                <mat-tab label="Driver Info">
                    <div class="driver-info">
                        <div class="drv">
                            <h4>Driver Info</h4>
                            <h6>Show Less</h6>
                        </div>
                    </div>
                    <div class="ac-info">
                        <h3>Account Information</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="ac-prop">
                                        <h4>First Name</h4>
                                        <h5>Iran</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Last Name</h4>
                                        <h5>Ganguas</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Email</h4>
                                        <h5>example@gmail.com</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Phone</h4>
                                        <h5>123456789</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Registration Date</h4>
                                        <h5>11.05.21</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Zip Code</h4>
                                        <h5>12345</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Country</h4>
                                        <h5>USA</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>State</h4>
                                        <h5>Texas</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>TLC Number</h4>
                                        <h5>Texas</h5>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-5 col-md-6">
                                    <div class="ac-prop">
                                        <h4>Referral Code</h4>
                                        <h5>Genah</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Referring Affiliate Code</h4>
                                        <h5>XG77H45JU</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Referring Affiliate</h4>
                                        <h5>888878</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Affilate2</h4>
                                        <h5>Optional</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Affilate3</h4>
                                        <h5>Optional</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Language</h4>
                                        <h5>Spanish</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Nationality</h4>
                                        <h5>USA</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Hobby</h4>
                                        <h5>Texas</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Driver Licence</h4>
                                        <h5>Texas</h5>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-3 col-md-6">
                                    <div class="ac-prop">
                                        <h4>Referral Type</h4>
                                        <h5>onetime</h5>
                                    </div>
                                    <div class="ac-prop">
                                        <h4>Referring Client</h4>
                                        <h5>Ganguas</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rides-info">
                        <h3>Rides Information</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-3 col-md-5">
                                    <div class="rd-info">
                                        <h5>Total Lapsed</h5>
                                        <h6>0</h6>
                                    </div>
                                    <div class="rd-info">
                                        <h5>Total Request</h5>
                                        <h6>10</h6>
                                    </div>
                                    <div class="rd-info">
                                        <h5>Rides Cancelled</h5>
                                        <h6>7</h6>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-md-1"></div>
                                <div class="col-xl-3 col-md-5">
                                    <div class="rd-info">
                                        <h5>Total Completed</h5>
                                        <h6>3</h6>
                                    </div>
                                    <div class="rd-info">
                                        <h5>Total Regular</h5>
                                        <h6>10</h6>
                                    </div>
                                    <div class="rd-info">
                                        <h5>Total Scheduled</h5>
                                        <h6>0</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Driver Docs">
                    <div class="docs-pend">
                        <h1>Pending Docs</h1>
                        <div class="d-flex justify-content-between align-items-center"
                            style="width:300px;margin:12px 0">
                            <h3>TLC Licence</h3>
                            <button class="btn-action btn-disable">Updated Doc</button>
                        </div>
                        <div class="d-flex justify-content-between align-items-center"
                            style="width:300px;margin:12px 0">
                            <h3>Govt ID</h3>
                            <button class="btn-action btn-disable">Updated Doc</button>
                        </div>
                    </div>
                    <div class="prof-wr">

                        <h2>profile pic</h2>
                        <div class="prof-pic">
                            <div>
                                <img src="/assets/images/pro-edit.png">
                            </div>
                            <div class="d-flex flex-column">
                                <button class="btn-action btn-dis">Verify Doc</button>
                                <button class="btn-action btn-dis">Remove Doc</button>
                                <button class="btn-action btn-dis">Edit Doc</button>
                            </div>
                        </div>
                    </div>
                    <div class="drv-lic">
                        <h1>DVM Licence</h1>
                        <div class="drv-con">
                            <div>
                                <img src="/assets/images/lic.png">
                            </div>
                            <div class="d-flex flex-column">
                                <button class="btn-action btn-dis">Verify Doc</button>
                                <button class="btn-action btn-dis">Remove Doc</button>
                                <button class="btn-action btn-dis">Edit Doc</button>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="QudosCustom" (click)="hideDrop()">
                    <div class="ii">
                        <button class="btn-list-view">Edit Details</button>
                        <div class="info-hd">
                            <h2>Information</h2>
                            <div class="details">
                                <div class="detail">
                                    <h4>Language</h4>
                                    <h5>English Spanish</h5>
                                </div>
                                <div class="detail">
                                    <h4>Pet Friendly</h4>
                                    <h5>Yes</h5>
                                </div>
                                <div class="detail">
                                    <h4>Prefer Airport</h4>
                                    <h5>Yes</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-tab>
    <mat-tab label="Car">
      <mat-tab-group>
          <mat-tab label="Car Info">
<div class="vehi-info">
    <div class="vehi-hd">
       <div class="vi">
        <h1>vehicle 1 Information <span class="cat">Default</span> <span class="act">Show Less</span></h1>
    </div>
      <button class="btn-list-view">Edit Details</button>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="vehi-prop">
                <h3>Licence Plate</h3>
                <h4>NYC111</h4>
            </div>
            <div class="vehi-prop">
                <h3># of Passangers</h3>
                <h4>3</h4>
            </div>
            <div class="vehi-prop">
                <h3>VIN</h3>
                <h4>HUH8988NYC111</h4>
            </div>
            <div class="vehi-prop">
                <h3>TLC Licence</h3>
                <h4>111344</h4>
            </div>
            <div class="vehi-prop">
                <h3>Car Type</h3>
                <h4>12.05.21</h4>
            </div>
            <div class="vehi-prop">
                <h3>Affiliate Base #</h3>
                <h4>B121344</h4>
            </div>
            <div class="vehi-prop">
                <h3>Dispatching Base #</h3>
                <h4>B121344</h4>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="vehi-prop">
                <h3>Date Added</h3>
                <h4>May 12,2021 04:23:00</h4>
            </div>
            <div class="vehi-prop">
                <h3>Car Make</h3>
                <h4>Mercedez Benz</h4>
            </div>
            <div class="vehi-prop">
                <h3>
                    Car Model
                </h3>
                <h4>C300</h4>
            </div>
            <div class="vehi-prop">
                <h3>Year</h3>
                <h4>2021</h4>
            </div>
            <div class="vehi-prop">
                <h3>Color</h3>
                <h4>Black</h4>
            </div>
            <div class="vehi-prop">
                <h3>DMV #</h3>
                <h4>Spanish</h4>
            </div>
            <div class="vehi-prop">
                <h3>Essitionals</h3>
                <h4>Yes</h4>
            </div>
        </div>
    </div>
</div>
</div>
<div class="vehi-info">
    <div class="vehi-hd">
       <div class="vi">
        <h1>vehicle 2 Information <span class="cat2">Make Default</span> <span class="act">Show Less</span></h1>
    </div>
      <button class="btn-list-view">Edit Details</button>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="vehi-prop">
                <h3>Licence Plate</h3>
                <h4>NYC111</h4>
            </div>
            <div class="vehi-prop">
                <h3># of Passangers</h3>
                <h4>3</h4>
            </div>
            <div class="vehi-prop">
                <h3>VIN</h3>
                <h4>HUH8988NYC111</h4>
            </div>
            <div class="vehi-prop">
                <h3>TLC Licence</h3>
                <h4>111344</h4>
            </div>
            <div class="vehi-prop">
                <h3>Car Type</h3>
                <h4>12.05.21</h4>
            </div>
            <div class="vehi-prop">
                <h3>Affiliate Base #</h3>
                <h4>B121344</h4>
            </div>
            <div class="vehi-prop">
                <h3>Dispatching Base #</h3>
                <h4>B121344</h4>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="vehi-prop">
                <h3>Date Added</h3>
                <h4>May 12,2021 04:23:00</h4>
            </div>
            <div class="vehi-prop">
                <h3>Car Make</h3>
                <h4>Mercedez Benz</h4>
            </div>
            <div class="vehi-prop">
                <h3>
                    Car Model
                </h3>
                <h4>C300</h4>
            </div>
            <div class="vehi-prop">
                <h3>Year</h3>
                <h4>2021</h4>
            </div>
            <div class="vehi-prop">
                <h3>Color</h3>
                <h4>Black</h4>
            </div>
            <div class="vehi-prop">
                <h3>DMV #</h3>
                <h4>Spanish</h4>
            </div>
            <div class="vehi-prop">
                <h3>Essitionals</h3>
                <h4>Yes</h4>
            </div>
        </div>
    </div>
</div>
</div>
          </mat-tab>
          <mat-tab label="Driver Docs">

        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Regular Rides">
        regular content
    </mat-tab>
    <mat-tab label="Scheduled Rides">
        Scheduled content
    </mat-tab>
    <mat-tab label="Notes">
     <div class="notes-wr">
         <div class="notes-hdr">
             <h2>Notes</h2>
             <button class="btn-list-view">Create Note</button>
         </div>
         <table class="table">
             <thead>
                 <tr>
                     <th>
                         Notes ID
                     </th>
                     <th>
                        Title
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Actions
                    </th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>
                         13
                     </td>
                     <td>
                    Lindsey Stroud
                    </td>
                    <td>
                        High
                    </td>
                    <td>
                        The description of the notes
                    </td>
                    <td>
                    May 12,2021<br>14:35:00
                    </td>
                    <td>
                        <img src="/assets/images/dots3.png">
                    </td>
                 </tr>
                 <tr>
                    <td>
                        13
                    </td>
                    <td>
                   Lindsey Stroud
                   </td>
                   <td>
                       Low
                   </td>
                   <td>
                       The description of the notes
                   </td>
                   <td>
                   May 12,2021<br>14:35:00
                   </td>
                   <td>
                       <img src="/assets/images/dots3.png">
                   </td>
                </tr>
             </tbody>
         </table>
     </div>
    </mat-tab>
    <mat-tab label="Update Bank Info">
        <div class="bankk-info">
            <div class="bankk-hdr">
                <h2>Bank Information</h2>
                <button class="btn-list-view">Update</button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="bankk-prop">
                            <h3>First Name</h3>
                            <h4>Iran</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>Last Name</h3>
                            <h4>Ganguas</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>Email</h3>
                            <h4>example@gmail.com</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>Phone</h3>
                            <h4>123456789</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>Birth Date</h3>
                            <h4>12.05.21</h4>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="bankk-prop">
                            <h3>Registration Date</h3>
                            <h4>Individual</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>Country</h3>
                            <h4>Ganguas</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>State</h3>
                            <h4>somewhere</h4>
                        </div>
                        <div class="bankk-prop">
                            <h3>Zip Code</h3>
                            <h4>123456789</h4>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="business-dt">
            <h2>Business details</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="business-prop">
                            <h3>Business/Full Name</h3>
                            <h4>Iran Ganguas</h4>
                        </div>
                        <div class="business-prop">
                            <h3>Mobile</h3>
                            <h4>123456789</h4>
                        </div>
                        <div class="business-prop">
                            <h3>Account Number</h3>
                            <h4>123456789</h4>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="business-prop">
                            <h3>Tax ID</h3>
                            <h4>1232332332</h4>
                        </div>
                        <div class="business-prop">
                            <h3>Business Website</h3>
                            <h4>Qudos@admin.com</h4>
                        </div>
                        <div class="business-prop">
                            <h3>Routing Number</h3>
                            <h4>2435335323</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>