<div class="zxcv">
<div class="users-comp-wr">
    <div class="users-comp-heading">
        <h2>Users</h2>
    </div>
    <div class="comport">
    <div class="common-header">
        <div class="com-wr">
            <h2>New Passengers</h2>
            <h4 id="mv">View {{searchTerm}}  results</h4>
        </div>
        <button class="btn-view-list">View List</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Affiliate ID</th>
                <th>Affiliate Name</th>
                <th>Affiliate Email</th>
                <th>Mobile</th>
                <th>Registration</th>
                <th>Device</th>
                <th>Block</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pas of passengers | passengersSearch : searchTerm |  paginate:{itemsPerPage:3,currentPage:p}" >
                <td>{{pas.pid}}</td>
                <td><img src="/assets/images/lindsey.png">{{pas.pname}}</td>
                <td>{{pas.pemail}}</td>
                <td>{{pas.pmob}}</td>
                <td>{{pas.preg}}</td>
                <td>{{pas.pdev}}</td>
                <td>{{passengers.length}}</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
 
        </tbody>
    </table>
</div>
<div class="comport">
    <div class="common-header">
        <div class="com-wr">
            <h2>New Affiliates</h2>
            <h4>View 6 results</h4>
        </div>
        <button class="btn-view-list">View List</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Affiliate ID</th>
                <th>Affiliate Name</th>
                <th>Affiliate Email</th>
                <th>Mobile</th>
                <th>Registration</th>
                <th>Device</th>
                <th>Block</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13</td>
                <td><img src="/assets/images/lindsey.png">Lindsey Stroud</td>
                <td>lindsey.stroud@gmail.com</td>
                <td>+1-5165672521</td>
                <td>09.05.21</td>
                <td>13567</td>
                <td>No</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
            <tr>
                <td>13</td>
                <td><img src="/assets/images/lindsey.png">Lindsey Stroud</td>
                <td>lindsey.stroud@gmail.com</td>
                <td>+1-5165672521</td>
                <td>09.05.21</td>
                <td>13567</td>
                <td>No</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
            <tr>
                <td>13</td>
                <td><img src="/assets/images/lindsey.png">Lindsey Stroud</td>
                <td>lindsey.stroud@gmail.com</td>
                <td>+1-5165672521</td>
                <td>09.05.21</td>
                <td>13567</td>
                <td>No</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="comport">
    <div class="common-header">
        <div class="com-wr">
            <h2>New Passengers</h2>
            <h4>View 6 results</h4>
        </div>
        <button class="btn-view-list">View List</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Affiliate ID</th>
                <th>Affiliate Name</th>
                <th>Affiliate Email</th>
                <th>Mobile</th>
                <th>Registration</th>
                <th>Device</th>
                <th>Block</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13</td>
                <td><img src="/assets/images/lindsey.png">Lindsey Stroud</td>
                <td>lindsey.stroud@gmail.com</td>
                <td>+1-5165672521</td>
                <td>09.05.21</td>
                <td>13567</td>
                <td>No</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
            <tr>
                <td>13</td>
                <td><img src="/assets/images/lindsey.png">Lindsey Stroud</td>
                <td>lindsey.stroud@gmail.com</td>
                <td>+1-5165672521</td>
                <td>09.05.21</td>
                <td>13567</td>
                <td>No</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
            <tr>
                <td>13</td>
                <td><img src="/assets/images/lindsey.png">Lindsey Stroud</td>
                <td>lindsey.stroud@gmail.com</td>
                <td>+1-5165672521</td>
                <td>09.05.21</td>
                <td>13567</td>
                <td>No</td>
                <td><div><img src="/assets/images/dots3.png"></div></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>