<div class="zxcv">
<div class="home-pending">
    <div class="home-header">
        <h3>Let's get started with Qudos,(First Name of the Account)</h3>
        <h6>Pending</h6>
        <h5>Activate your-Qudos client account</h5>
    </div>
    <div class="pending-steps">
        <a (click)="openEmailVerificaionModal()">Verify your email Address</a>
        <div class="modal" id="exa4" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Email Verification</h5>
                    </div>
                    <div class="modal-body">
                        <div class="ver-email">
                        <h4>To verify your account,please enter the OTP sent to your email:neilrollon@yahoo.com</h4>
                    <input type="text" value="0 0 0 0">
                    <p>Resend OTP</p>
                </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn-action btn-cancel" (click)="closeModel()"
                            data-dismiss="modal">Cancel</button>
                        <button type="button" data-dismiss="modal" (click)="saveModel()"
                            class="btn-action">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <a>Upload required legal documents</a>
        <a>Add payout method</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="gross-volumn-chart-wr">
                <div class="hddr">
                <select>
                    <option>Gross Volumn</option>
                </select>
               <div class="tm">
               <label>Show:</label>
                <select>
                    <option>Today</option>
                </select>
            </div>
            </div>
            <div id="mchart"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="bal-card">
                <div class="bal-dt">
                    <h4>USD Balance</h4>
                    <h3>$0.00</h3> 
                    <p>Available to Pay Out</p>
                </div>
                <span class="view">View</span>
            </div>
            <div class="bal-card mt-2">
                <div class="bal-dt">
                    <h4>Payouts</h4>
                    <h3>$0.00</h3> 
                    <p>Deposited May 13</p>
                </div>
                <span class="view">View</span>
            </div>
        </div>
    </div>
</div>
<div class="reports-overview-card">
    <div class="rrrp">
<h4>Reports Overview</h4>
<div class="slld">
<label>Show:</label>
<select>
    <option>Today</option>
</select>
</div>
    </div>
    <p>Edit Charts</p>
</div>
</div>