<div class="home-pending">
    <div class="home-header">
        <h3>Let's get started with Qudos,(First Name of the Account)</h3>
        <h6>Pending</h6>
        <h5>Activate your-Qudos client account</h5>
    </div>
    <div class="pending-steps">
        <a>Verify your email Address</a>
        <a>Upload required legal documents</a>
        <a>Add payout method</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7">
            <div class="gross-volumn-chart-wr">
                <div class="hddr">
                <select>
                    <option>Gross Volumn</option>
                </select>
               <div class="tm">
               <label>Show:</label>
                <select>
                    <option>Today</option>
                </select>
            </div>
            </div>
            <div id="mchart"></div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="bal-card">
                <div class="bal-dt">
                    <h4>USD Balance</h4>
                    <h3>$0.00</h3> 
                    <p>Available to Pay Out</p>
                </div>
                <span class="view">View</span>
            </div>
            <div class="bal-card mt-2">
                <div class="bal-dt">
                    <h4>Payouts</h4>
                    <h3>$0.00</h3> 
                    <p>Deposited May 13</p>
                </div>
                <span class="view">View</span>
            </div>
        </div>
    </div>
</div>
<div class="reports-overview-card">
    <div class="rrrp">
<h4>Reports Overview</h4>
<div class="slld">
<label>Show:</label>
<select>
    <option>Today</option>
</select>
</div>
    </div>
    <p>Edit Charts</p>
</div>