.disp-l{
display: flex;
flex-direction: column;
}
.disp-l span{
    font-size: 14px;
    color:gray;
}
.disp-l h5{
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    margin-top: 10px;
}
.dis-c{
    display: flex;
}
.dis-c h4{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    font-family: monospace;
}
.disp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 30px;
}
.suc-bdg{
    color: #fff;
    font-size: 12px;
    height: 20px;
    width: 70px;
    text-align: center;
    line-height: 20px;
    font-family: cursive;
    border-radius: 2px;
    background: rgb(32, 209, 32);
}
.disp-prop{
    display: flex;
    justify-content: space-between;
    padding:5px 0;
}
.disp-details h3{
   text-transform: uppercase;
   font-size: 16px;
   font-weight: bold; 
}
.disp-prop h5,.pay-prop h5{
    font-size: 13px;
    font-weight: bold;
    font-family: monospace;
    color: lightslategray;
}
.disp-prop h6,.pay-prop h6{
    font-size: 12px;
    font-weight: 100;
    font-family: cursive;
    min-width: 285px;
    text-align: left;
}
.details h3{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}
.disp-details{
 padding-bottom: 20px;
 border-bottom: 1px solid lightslategray;
 margin-bottom: 30px;   
}
.payment-mth h2{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; 
}
.pay-prop{
    display: flex;
    justify-content: space-between;
    margin:5px 0;
}
@media (min-width:992px) and (max-width:1199px){
    .disp-prop h6,.pay-prop h6{
        font-size: 12px;
        font-weight: 100;
        font-family: cursive;
        min-width: 230px;
        text-align: left;
    }
}
@media (min-width:768px) and (max-width:991px){
    .disp-prop h6,.pay-prop h6{
        font-size: 12px;
        font-weight: 100;
        font-family: cursive;
        min-width: 270px;
        text-align: left;
    }
}
@media (min-width:568px) and (max-width:767px){
    .disp-prop h6,.pay-prop h6{
        font-size: 12px;
        font-weight: 100;
        font-family: cursive;
        min-width: 100px;
        text-align: left;
    }
}
@media (max-width:567px){
    .disp-prop h6,.pay-prop h6{   
    font-size: 12px;
    font-weight: 100;
    font-family: cursive;
    min-width: auto;
    text-align: left;
} 
}