<div class="zxcv">
<div class="disp">
<div class="disp-l">
    <span>Back</span>
    <h5>Dispute</h5>
    <div class="dis-c">
        <h4>$22.00</h4>
        <div class="suc-bdg">Successed</div>
    </div>
</div>
<button class="btn-list-view">List View</button>
</div>
<div class="details">
    <h3>Details</h3>
    <div class="disp-details">
        <h3>Dispute details</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="disp-prop">
                        <h5>Transaction ID</h5>
                        <h6>22</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Charge ID</h5>
                        <h6>5776ea-ccd2-2878-bcea78-cacba87900b</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Driver Name</h5>
                        <h6>John Doe</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Customer Name</h5>
                        <h6>Lindsey Stroud</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>State</h5>
                        <h6>Texas</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Releaser</h5>
                        <h6>Qudos-Admin</h6>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="disp-prop">
                        <h5>Date/Time</h5>
                        <h6>May 12,2021 18:56:00</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Charge Type</h5>
                        <h6>Lindsey Stroud</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Amount</h5>
                        <h6>$22.00</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Session ID</h5>
                        <h6>3456</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Trip Date and Time</h5>
                        <h6>May 12,2021 18:56:00</h6>
                    </div>
                    <div class="disp-prop">
                        <h5>Description</h5>
                        <h6>Trip is for the trip and the driver <br> is the guest and this is a test</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-mth">
        <h2>payment method</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="pay-prop">
                        <h5>ID</h5>
                        <h6>card_HU78JHJ7yjhg878y8y8h</h6>
                    </div>
                    <div class="pay-prop">
                        <h5>Number</h5>
                        <h6>*****0956</h6>
                    </div>
                    <div class="pay-prop">
                        <h5>Fingerprint</h5>
                        <h6>3gHyiIJo8R8y8h</h6>
                    </div>
                    <div class="pay-prop">
                        <h5>Expires</h5>
                        <h6>07/2025</h6>
                    </div>
                    <div class="pay-prop">
                        <h5>Type</h5>
                        <h6>Visa Debit card</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>