<div class="header-main-wr">
    <div class="overlay" [class.activation-disabled]="!activation">
        <h6 class="warn">please complete activation to get access on these features</h6>
    <div class="container-fluid nic" [class.nic-dis]="activation">
    <div class="row">
        <div class="col-xl-7">
            <div class="search-wr">
               <div> <img src="/assets/images/search.png"></div>
                <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="searchMe()">
            </div>
        </div>
        <div class="col-xl-3">
            <div class="place-wr">
                <div class="country-wr">
                    <label>Country</label>
                    <select>
                        <option>USA</option>
                    </select>
                </div>
                <div class="state-wr">
                    <label>State</label>
                    <select>
                        <option>All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="user-section">
                <div class="notification-icon-wr">
                    <img src="/assets/images/bell.png">
                </div>
                <div class="help-icon-wr">
                    <img src="/assets/images/help.png">
                </div>
                <div class="user-icon-wr">
                    <img src="/assets/images/user.png">
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>