<div class="zxcv">
<div class="rides-profile">
    <div class="prof-dt">
        <h3>Bubbl Now</h3>
        <h6>Profile ID: 4555</h6>
    </div>
    <div class="pro-act">
        <div class="pro-alist">
            <button class="btn-list-view">List View</button>
            <button class="btn-action">Action</button>
        </div>
     
    </div>
</div>

<div class="disp-details">
    <div class="qwer">    
    <h3>offer information</h3><button class="btn-list-view">Edit Details</button>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="disp-prop">
                    <h5>Offer ID</h5>
                    <h6>f5ff-ccd2-2878-bcea78-77bca3cba8</h6>
                </div>
                <div class="disp-prop">
                    <h5>Promo Code</h5>
                    <h6>Bubbl Now</h6>
                </div>
                <div class="disp-prop">
                    <h5>Promo Description</h5>
                    <h6>30% up to $10 off your first 10 rides</h6>
                </div>
                <div class="disp-prop">
                    <h5>Offer title</h5>
                    <h6>Enjoy Qudos</h6>
                </div>
                <div class="disp-prop">
                    <h5>Created At</h5>
                    <h6>12 May,2021 07:56:00 PM</h6>
                </div>
                <div class="disp-prop">
                    <h5>Offer Type ID</h5>
                    <h6>2</h6>
                </div>
                <div class="disp-prop">
                    <h5>Offer Description</h5>
                    <h6>30% up to $10 off your first 10 rides</h6>
                </div>
            </div>
           
            <div class="col-xl-6 col-lg-6">
                <div class="disp-prop">
                    <h5>Number Issued</h5>
                    <h6>598</h6>
                </div>
                <div class="disp-prop">
                    <h5>Start Date</h5>
                    <h6>May 12,2021 18:56:00</h6>
                </div>
                <div class="disp-prop">
                    <h5>End Date</h5>
                    <h6>May 12,2021 18:56:00</h6>
                </div>
                <div class="disp-prop">
                    <h5>Is Active</h5>
                    <h6>Yes</h6>
                </div>
                <div class="disp-prop">
                    <h5>Is Default</h5>
                    <h6>Yes</h6>
                </div>
                </div>
        </div>
    </div>
</div>
</div>