<div class="zxcv">
<div class="corporates-profile">
    <div class="prof-dt">
        <h3>Session ID 1234</h3>
        <h4>c3a756f3-495d-4f75-9966-dd21ba02442c</h4>
    </div>
    <div class="pro-act">
        <div class="pro-alist">
            <button class="btn-list-view">Back</button>
            <button class="btn-action">Action</button>
        </div>
        <h6>Profile ID: 4555</h6>
    </div>
</div>
<div class="feed-details">
    <div class="feed-hd">
        <div class="feed-h">
        <h4>Feedback Details</h4>
        <span>Show Less</span>
    </div>
    <button class="btn-list-view big">Edit Details</button>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="feed-prop">
                    <h5>Driver Name</h5>
                    <h6>Eric Now</h6>
                </div>
                <div class="feed-prop">
                    <h5>Rating Driver</h5>
                    <h6>1</h6>
                </div>
                <div class="feed-prop">
                    <h5>Feedback to Driver</h5>
                    <h6>Test is a testing message</h6>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="feed-prop">
                    <h5>Rider Name</h5>
                    <h6>Lindsey James</h6>
                </div>
                <div class="feed-prop">
                    <h5>Rating to Rider</h5>
                    <h6>3</h6>
                </div>
                <div class="feed-prop">
                    <h5>Feedback to Rider</h5>
                    <h6>Test is a testing message</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feed-details ls">
    <div class="feed-hd">
        <div class="feed-h">
        <h4>Ride Details <span>Show Less</span></h4>
    </div>
  
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="feed-prop">
                    <h5>Session ID</h5>
                    <h6>1</h6>
                </div>
                <div class="feed-prop">
                    <h5>Trip #</h5>
                    <h6>12345</h6>
                </div>
                <div class="feed-prop">
                    <h5>Pickup Date and Time</h5>
                    <h6>Eric Show</h6>
                </div>
                <div class="feed-prop">
                    <h5>Driver ID</h5>
                    <h6>Lindsey Stroud</h6>
                </div>
                <div class="feed-prop">
                    <h5>Driver Name</h5>
                    <h6>1</h6>
                </div>
                <div class="feed-prop">
                    <h5>Driver Phone #</h5>
                    <h6>12335</h6>
                </div>
                <div class="feed-prop">
                    <h5>Passenger ID</h5>
                    <h6>Eric Show</h6>
                </div>
                <div class="feed-prop">
                    <h5>Passenger Name</h5>
                    <h6>Lindsey stroud</h6>
                </div>
                <div class="feed-prop">
                    <h5>Passanger Phone #</h5>
                    <h6>Lindsey stroud</h6>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="feed-prop">
                    <h5>Pickup Location</h5>
                    <h6>May 12,2021 17:24:00</h6>
                </div>
                <div class="feed-prop">
                    <h5>Requesting Dropoff Location</h5>
                    <h6>May 12,2021 17:24:00</h6>
                </div>
                <div class="feed-prop">
                    <h5>Date and Time</h5>
                    <h6>May 12,2021 17:24:00</h6>
                </div>
                <div class="feed-prop">
                    <h5>Date and Time</h5>
                    <h6>May 12,2021 17:24:00</h6>
                </div>
            </div>
        </div>
    </div>
</div>
</div>