@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::ng-deep .mat-tab-label{
    width: auto!important;
    height: auto!important;
    padding:10px 15px!important;
    min-width: auto!important;
}
::ng-deep .mat-ink-bar{
    visibility: visible!important;
}
::ng-deep .mat-tab-label-active .mat-tab-label-content{
    color:rgb(6, 6, 82);
    font-weight: bold;
}
.my-pagination{
    position: relative;
    right: 0;
}
.my-pagination .ngx-pagination{
    margin-bottom: 0;
}
.my-pagination /deep/ .ngx-pagination li a{
   text-decoration: none;
   font-size: 14px;
   font-weight: 100;
   color:lightslategray;
}
.my-pagination /deep/ .ngx-pagination li.disabled span{
    color:lightslategray;
}

.my-pagination /deep/ .ngx-pagination .current{
    background:transparent;
    border-bottom: 2px solid blue;
}
.my-pagination /deep/ .ngx-pagination li span{
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    color:lightslategray;
}

.pas-header{
    display: flex;
    justify-content: space-between;
}
.pas-header .pas-profile{
    display: flex;
    align-items: center;
}
.pas-profile img{
    width: 90px;
}
.pas-profile-info{
    margin-left: 30px;
}
.pas-profile-info h3{
    font-size: 24px;
}
.pas-profile-info h4{
    font-size: 18px;
}

.pas-action{
    display: flex;
}

.pas-action p.pid{
    font-size: 12px;
    font-weight: bold;
}

.pas-inv h3{
    margin:0;
    font-size: 18px;
}
.pas-inv h5{
    margin:0;
    font-size: 12px;
}
.btn-send{
    border:none;
    background:rgb(38,51,67);
    color:#fff;
    font-size: 12px;
    height: 35px;
    border-radius: 4px;
    width: 150px;
}
.btn-copy-link{
    border:1px solid lightslategrey;
    background:#fff;
    color:#000;
    font-size: 12px;
    height: 35px;
    border-radius: 4px;
    width: 150px;
}
.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #2c71c3;
}
.mat-tab-label-active .mat-tab-label-content {
    color:#2C71C3;
    font-weight: 700;
}
.edt-dtl{
    border:1px solid lightsteelblue;
    font-size: 12px;
    background: transparent;
    font-family: 'Poppins';
    height: 30px;
    font-weight: 400;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:lightslategrey;
}
.form-group{
    display: flex;
    align-items: center;
padding:0 20px;
}
.form-group input{
    font-size: 14px;
    width: 30%;
    font-weight: 400;
    margin:10px;
}
.form-group label{
    font-size: 14px;
    font-weight: 400;
}
div.cur{
    display: flex;
}
div.nm-wr{
    display: flex;
    margin-top: 30px;
}
.modal-title{
    font-size:24px;
    font-weight: 400;
    font-family: 'Poppins';
}
.nm-wr label{
    font-size: 18px;
}
.cur img{
    margin:0px 25px;
}
.cur label{
    font-size: 18px;
}
/* css start for custom dropdown*/
.select-box{
    display: flex;
    width: 280px;
    flex-grow: 1;
    flex-direction: column;
}
.select-box .options-container{
    background: #fff;
    color: #000;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all .5s;
    border-radius: 8px;
    order: 1;
    border: 1px solid lightgrey;
    overflow: hidden;
}
.search-built-in{
    width: 100%;
    border:1px solid lightslategray;
    border-radius:6px ;
    display: flex;
    justify-content: space-between;
    padding:2px 6px;
    margin:4px 10px;
    width: calc(100% - 20px);
}
.search-built-in input{
    outline: none;
    border:none;
}
.select-box .options-container.active{
    opacity: 1;
    min-height: 360px;
}
.select-box .options-container.active + .selected::after{
    transform: rotateX(180deg);
    top:4px;

}
.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background:#0d141f;
    border-radius: 0 8px 8px 0px;
}
.select-box .options-container::-webkit-scrollbar-thumb{
    background:#525861;
    border-radius: 0 8px 8px 0px;
}
.select-box .option,.selected{
    padding:5px 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: bold;
}
.option label{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';

}
.option label span{
    margin-left: 6px;
    font-size: 12px;
    font-weight: 100;
}
.selected{
    background: #fff;
    border-radius: 4px;
    margin-bottom: 2px;
    color: #000;
    padding-left: 8px;
    padding-right: 0;
    font-size: 14px;
    font-family: 'Poppins';
    position: relative;
    order: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid lightslategrey;
}
.selected::after{
    content: "";
    background: url("/assets/images/down.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 16px;
    width: 16px;
    right:10px;
    top:15px;
    transition: all 0.5s;
}
.select-box .option:hover{
    background:#f3f5f7;
}
.select-box label{
    cursor: pointer;
}
.select-box .option .radio{
    display: none;
}
/* custom dropdown css end*/
.trk{
    position: relative;
    display: flex;
    height: 150px;
    flex-direction: column;
}
.nm-wr{
    position: sticky;
    bottom: 0px;
    z-index: 2;
}
.foo{
    position: absolute;
    width: calc(100% + 40px);
    display: flex;
    border-top: 1px solid lightslategray;
    padding-top: 10px;
    z-index: 0;
    margin-left: -20px;
    align-self: stretch;
    justify-content: flex-end;
    background:#fff;
    bottom: 0px;
}
.foo button{
    margin:0 10px;
}
.info-wr{
    padding:20px;
}
.info-wr .dtl{
padding:10px;
}
.info-wr .dtl h4{
font-size: 20px;
font-weight: bold;
display: inline;
font-family: monospace;
}
.info-wr .dtl h6{
    font-size: 14px;
    color:cornflowerblue;
    font-weight: 500;
    margin-left: 30px;
    display: inline;
    font-family: monospace;
}
.ac-wr h3{
    display: inline;
    font-size: 16px;
    font-family: cursive;
    font-weight: 900;
    color:lightslategray;
}
.ac-wr h1,.rides-wr h1{
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color:#000;
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.ac-wr div{
    display: flex;
    justify-content: space-between;
    margin:15px 0;
    width: 100%;
    position: relative;
}

.ac-wr h4{
    display: inline;
    font-size: 14px;
    font-family: monospace;
    font-weight: 600;
    color:#000;
}
.ac-wr h4.ref{
    min-width: 130px;
}
.rides-wr .rides-outer{
    display: flex;
    justify-content: space-between;
}
.rides-wr .rides-inner{
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
}
.rides-inner h3{
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
    color:lightslategray;
}
.rides-inner h4{
    font-size: 15px;
    font-weight: 900;
    font-family: monospace;
}
.vrule{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vrule .vr{
    width: 1px;
    height: 80%;
    background:lightslategray;
}
.rides-outer{
    margin:15px 0;
}
.wrr{
    padding-bottom: 35px;
    border-bottom: 1px solid lightslategray;
}
.dropdown-menu .dropdown-item{
    font-size: 14px;
    font-weight: bold;
}
.rides-n{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
}
.rides-n-pref{
    padding-top: 30px;
}
.rides-n h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: monospace;
}
.rides-n button{
    background:transparent;
    color:lightslategray;
    font-weight: 300;
    border:1px solid lightslategray;
    border-radius: 6px;
    width: 180px;
    height: 45px;
    font-size: 14px;
}
.rides-n .search-wr{
    padding:5px 10px;
    width: 200px;
    margin-left: 20px;
    margin-right: 5px;
    display: flex;
    border:1px solid lightslategray;
    border-radius: 6px;

}
.search-wr img{
    margin-right: 10px;
}
.rides-n input{
    outline: none;
    border:none;
font-size: 14px;
color:lightslategray;
font-weight: 500;
   width: 150px;
}
th{
    color:lightslategrey;
    font-weight: 700;
    font-size: 14px!important;
    padding:15px 10px !important;
    border-bottom: none;
}
td{
    font-size: 14px!important;
    font-weight: 500;
    color:rgb(130, 135, 146);
    padding:15px 10px;
}
td img{
    margin-right: 8px;
}
tbody tr:hover{
    cursor: pointer;
}
tbody tr:hover{
    background: rgb(248,250,252);
}
.pag{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.pag .my-pagination{
position: absolute;
right: 0;
top:0;
z-index: 4;
}
.drop-show{
    display: block;
}
@media (max-width:767px){
    .pas-header{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}