/* You can add global styles to this file, and also import other style files */
*{
    margin:0;padding:0;box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins' }
.btn-list-view{
    background:#fff;
    border-radius: 3px;
    font-size: 14px;
    border:1px solid lightslategrey;
    color:gray;
    font-weight: 700;
    font-family: monospace;
    height: 40px;
    padding:0 25px;
}
.btn-action{
    border:none;
    color:#fff;
    font-size: 12px;
    width: 130px;
    margin-bottom: 10px;
    margin-left: 12px;
    border-radius: 4px;
    background:rgb(40,108,189);
    height: 35px;
}
