<div class="zxcv">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-7">
            <div class="card">
                <div class="card-header" style="background:transparent">
                    <div class="d-flex justify-content-between">
                        <select class="boldy">
                            <option>Gross Volumn</option>
                        </select>
                        <h6 class="c1h">Show:<select>
                                <option>Today</option>
                            </select></h6>
                    </div>

                </div>
                <div class="card-body" style="padding:0">
                    <div id="chart"></div>
                </div>
            </div>

        </div>
        <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="c1c">
                        <div class="c1c-header">
                            <h6>Lifetime Earnings</h6>
                            <label>View</label>
                        </div>
                        <div class="c1c-bod">
                            <h5>$21,467.57</h5>
                            <p>Earning since started</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="c1c">
                        <div class="c1c-header">
                            <h6>USD Balance</h6>
                            <label>View</label>
                        </div>
                        <div class="c1c-bod">
                            <h5>$10,900.65</h5>
                            <p>Available balance in the account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card mt-3">
                <div class="card-body" style="padding:.7rem 1rem">
                    <div class="crd2">
                        <div>
                            <h6>Reports Overview</h6>
                            <h6 class="c1h" style="margin-bottom:0">Show:<select>
                                    <option>Today</option>
                                </select></h6>
                        </div>
                        <label>Edit Charts</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mt-3">
            <div class="card">
                <div class="card-header" style="background: transparent;">
                    <div class="tin">
                        <div>
                            <h6>Gross Volumn</h6>
                            <p>$25.60</p>
                        </div>
                        <button class="cbadge green">+100%</button>
                    </div>
                </div>
                <div class="card-body" style="padding:0">
                    <div id="chart2"></div>
                </div>


            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mt-3">
            <div class="card">
                <div class="card-header" style="background: transparent;">
                    <div class="tin">
                        <div>
                            <h6>Driver Registration</h6>
                            <p>34</p>
                        </div>
                        <button class="cbadge tomato">-70%</button>
                    </div>
                </div>
                <div class="card-body" style="padding:0">
                    <div id="chart3"></div>
                </div>


            </div>
        </div>
        <div class="col-xl-4 col-lg-6 mt-3">
            <div class="card">
                <div class="card-header" style="background: transparent;">
                    <h4>Transactions</h4>
                </div>
                <div class="card-body" style="padding:13px 0">
                    <div class="list">
                        <div class="list-item">
                            <div>
                                <h6>$37.80</h6>
                                <button class="cbadge green">Successed</button>
                            </div>
                            <p>May 10,11:06 am </p>
                        </div>
                        <div class="list-item">
                            <div>
                                <h6>$37.80</h6>
                                <button class="cbadge tomato" style="min-width: 80px;">Blocked</button>
                            </div>
                            <p>May 10,11:06 am </p>
                        </div>
                        <div class="list-item">
                            <div>
                                <h6>$37.80</h6>
                                <button class="cbadge gray" style="min-width: 80px;">Canceled</button>
                            </div>
                            <p>May 10,11:06 am </p>
                        </div>
                        <div class="list-item">
                            <div>
                                <h6>$37.80</h6>
                                <button class="cbadge gray" style="min-width: 80px;">Canceled</button>
                            </div>
                            <p>May 10,11:06 am </p>
                        </div>
                        <div class="list-item">
                            <div>
                                <h6>$37.80</h6>
                                <button class="cbadge green">Successed</button>
                            </div>
                            <p>May 10,11:06 am </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>