::ng-deep .mat-tab-label-active .mat-tab-label-content{
    color:blue!important;
    font-weight: bold;
}
.car-types-hdr{
    padding:6px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-types-hdr h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: monospace;
}
.car-types-hdr .acts{
    display: flex;
}
.car-types-hdr .acts .search-w{
    margin-left: 20px;
    border:1px solid lightslategray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 35px;
    width: 220px;
}
.car-types-hdr .acts .search-w input{
    outline: none;
    border: none;
    width: 200px;
    padding-left: 12px;

}
.btn-list-view{
    height: 35px;
}
.car-types-hdr .acts .search-w img{
    margin-left: 20px;

}
thead tr th{
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
    color:lightslategray
}
tbody tr td{
    font-size: 14px;
    font-family: monospace;
}